@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Saira+Semi+Condensed:wght@300&display=swap');
/*
font-family: 'Caveat', cursive;
font-family: 'Saira Semi Condensed', sans-serif;
*/

/* --------------------------------------------------- Body - basic styling */
body {
    max-width: 2500px;
    margin: 0 auto;

    font-family: 'Saira Semi Condensed', sans-serif;
}

/* --------------------------------------------------- a, span, h2 - basic styling */
a {
    margin-left: 1.5rem;

    text-decoration: none;
    color: rgb(255, 255, 255);
}

#color-span {
    color: rgb(17,35,45);
}

h2 {
    border-bottom: 2px solid rgb(133,58,90);
}


/* --------------------------------------------------- Navbar, logo & menu - styling */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    background-color: rgb(62,80,96);
    box-shadow: -1px 0px 20px 0px rgb(63 58 58);
    background-image: linear-gradient(216deg, rgb(17,35,45), transparent);
}

#logo {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1.5rem;

    color: #fff;
}

#menu {
    text-transform: uppercase;
    font-size: 1.2rem;
}

a:hover {
    color: rgb(17,35,45);
}

/* --------------------------------------------------- Hero-image - styling */
#hero-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: -1px 0px 20px 4px rgb(57 37 37);
}

#hero-image {
    height: 91.5vh;
    width: 100%;

    border-top: 2px solid rgb(133,58,90);

    background: url(../images/hero-image.jpeg) no-repeat center center;
    background-size: cover;
}


/* --------------------------------------------------- Hero-buttons - styling */
#hero-buttons-outer {
    display: flex;
    justify-content: space-evenly;
    gap: 12rem;
    margin-top: 24rem;
}

.hero-buttons {
    height: 3rem;
    width: 12rem;

    cursor: pointer;
    font-size: 1.5rem;
    text-transform: uppercase;

    border: 2px solid rgb(133,58,90);
    background-color: rgba(17, 35, 45, 0.504);
    color: rgb(133,58,90);
    box-shadow: 0 8px 8px rgb(0 0 0 / 35%);
}

.hero-button:hover {
    box-shadow: -1px -2px 20px rgba(251, 250, 250, 0.223);
}

#hero-button-left {
    background-color: rgb(17 35 45 / 72%);
}


/* --------------------------------------------------- About images - styling */
#img1 {
    height: 38vh;
    width: 24vw;
    position: absolute;
    left: 4%;
    border: 4px solid rgb(133,58,90);
    box-shadow: 0 8px 8px rgb(0 0 0 / 50%);
}

#img2 {
    height: 38vh;
    width: 24vw;
    position: absolute;
    top: 130%;
    left: 22%;
    border: 4px solid rgb(133,58,90);
    box-shadow: 0 8px 8px rgb(0 0 0 / 50%);
}

#img3 {
    height: 38vh;
    width: 24vw;
    position: absolute;
    top: 153%;
    left: 4%;
    border: 4px solid rgb(133,58,90);
    box-shadow: 0 8px 8px rgb(0 0 0 / 50%);
}

/* --------------------------------------------------- About p - styling */
#about-container {
    margin-top: 2rem;
}
#about-right {
    width: 30%;
    float: right;
    margin-right: 6rem;
    margin-top: 18rem;
}

#about-left {
    width: 70%;
}

/* --------------------------------------------------- Footer - styling */
footer {
    margin-top: 50rem;
    background-color: rgb(62,80,96);
    background-image: linear-gradient(216deg, rgb(17,35,45), transparent);
}