@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Saira+Semi+Condensed:wght@300&display=swap');
/*
font-family: 'Caveat', cursive;
font-family: 'Saira Semi Condensed', sans-serif;
*/

/* --------------------------------------------------- Body - basic styling */
body {
    max-width: 2500px;
    margin-right: auto;
    margin-left: auto;

    font-family: 'Saira Semi Condensed', sans-serif;
}

/* --------------------------------------------------- a, span - basic styling */
a {
    margin-left: 1.5rem;

    text-decoration: none;
    color: rgb(255, 255, 255);
}

#color-span {
    color: rgb(17,35,45);
}

/* --------------------------------------------------- Navbar, logo & menu - styling */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    background-color: rgb(62,80,96);
    box-shadow: -1px 0px 20px 0px rgb(63 58 58);
    background-image: linear-gradient(216deg, rgb(99,113,124), transparent);
}

#logo {
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1.5rem;

    color: #fff;
}

#menu {
    text-transform: uppercase;
    font-size: 1.2rem;
}